In [2]:
import pandas as pd

df = pd.read_csv("spacex_launch_dash.csv", encoding="utf-8", on_bad_lines="skip")
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [3]:
with open("spacex_dash_app.py", encoding="utf-8", errors="replace") as f:
    print(f.read()[:400])

# Import required libraries
import pandas as pd
import dash
# Dòng import đã được sửa lỗi:
from dash import html
from dash import dcc
from dash.dependencies import Input, Output
import plotly.express as px

# Read the airline data into pandas dataframe
spacex_df = pd.read_csv("spacex_launch_dash.csv")
max_payload = spacex_df['Payload Mass (kg)'].max()
min_payload = spacex_df['Payload Mass (kg)'].m

In [4]:
!python spacex_dash_app.py

^C